body{
    background-color: rgb(59, 59, 59);
    color: white;
    font-family: monospace;
    padding: 24px;
}
.title{
    font-size: 22px;
    color: rgb(255, 166, 0)
}
.head{
    font-size: 20px;
}
.list-item{
    margin-bottom: 12px;
    font-size: 16px;
}
input{
    height: 48px;
    background-color: transparent;
    color: white;
    border-color: orange;
    border-radius: 4px;
    font-size: 15px;
    padding: 4px;
    font-weight: bold;
    font-family: monospace;
}
button{
    height: 48px;
    width: auto;
    font-size: 15px;
    padding: 4px;
    background-color: orange;
    border-width: 0px;
    border-radius: 4px;
    color:#000;
    font-weight: bold;

}